:root {
  --primary-color: #373737;
  --primary-button-background: #2128bd;
}

@font-face {
  font-family: "iyekan";
  font-style: normal;
  font-weight: 200;
  src: url("../../public/assets/fonts/IRANYekanWebThin.eot#");
  src: url("../../public/assets/fonts/IRANYekanWebThin.eot#iefix")
      format("embedded-opentype"),
    url("../../public/assets/fonts/IRANYekanWebThin.woff") format("woff"),
    url("../../public/assets/fonts/IRANYekanWebThin.woff2") format("woff2");
}
@font-face {
  font-family: "iyekan";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/assets/fonts/IRANYekanWebRegular.eot#");
  src: url("../../public/assets/fonts/IRANYekanWebRegular.eot#iefix")
      format("embedded-opentype"),
    url("../../public/assets/fonts/IRANYekanWebRegular.woff") format("woff"),
    url("../../public/assets/fonts/IRANYekanWebRegular.woff2") format("woff2");
}
@font-face {
  font-family: "iyekan";
  font-style: normal;
  font-weight: 700;
  src: url("../../public/assets/fonts/IRANYekanWebExtraBold.eot#");
  src: url("../../public/assets/fonts/IRANYekanWebExtraBold.eot#iefix")
      format("embedded-opentype"),
    url("../../public/assets/fonts/IRANYekanWebExtraBold.woff") format("woff"),
    url("../../public/assets/fonts/IRANYekanWebExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "iyekan";
  font-style: normal;
  font-weight: 900;
  src: url("../../public/assets/fonts/IRANYekanWebBlack.eot#");
  src: url("../../public/assets/fonts/IRANYekanWebBlack.eot#iefix")
      format("embedded-opentype"),
    url("../../public/assets/fonts/IRANYekanWebBlack.woff") format("woff"),
    url("../../public/assets/fonts/IRANYekanWebBlack.woff2") format("woff2");
}

html,
body,
button,
input,
select {
  padding: 0;
  margin: 0;
  direction: rtl;
  text-align: right;
  color: var(--primary-color, #272727);
  font-family: iyekan, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
ins {
  text-decoration: none;
}
img {
  backface-visibility: hidden;
}

.grid-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

svg.icon {
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  width: 1em;
  height: 1em;
  transition: 200ms all ease-in-out;
}
svg.icon path {
  transition: inherit;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}
.visible {
  opacity: 1;
  visibility: visible;
}
.hide,
.hidden {
  display: none;
}
.force-hide {
  display: none !important;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.m-center {
  margin-left: auto;
  margin-right: auto;
}
.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.all-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.horizontal-center {
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.db {
  display: block;
}
.text-center {
  text-align: center;
}
.df {
  display: flex !important;
}
.asc {
  align-self: center;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.jcfs {
  justify-content: flex-start;
}
.jcfe {
  justify-content: flex-end;
}
.jcsb {
  justify-content: space-between;
}
.jcsa {
  justify-content: space-around;
}
.jcse {
  justify-content: space-evenly;
}
.row-reverse {
  flex-direction: row-reverse;
}
.mra {
  margin-right: auto !important;
}
.mla {
  margin-left: auto !important;
}
.aifs {
  align-items: flex-start;
}
.aife {
  align-items: flex-end;
}
.f1 {
  flex: 1;
  min-width: 0;
}
.mah {
  margin-right: auto;
  margin-left: auto;
}
.mav {
  margin-top: auto;
  margin-bottom: auto;
}
.a0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
.circle {
  display: inline-block;
  border-radius: 100%;
}
.grayscale {
  filter: #808080;
  filter: grayscale(1);
}
.ungrayscale {
  filter: none;
}
.flip-h {
  transform: scale(-1, 1);
}
.flip-v {
  transform: scale(1, -1);
}
.in-height p {
  line-height: inherit;
}
.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.no-p {
  padding: 0px;
}
.says,
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.sbs-media {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.sbs-media .sbs-content {
  flex: 1;
  margin-right: 1em;
  min-width: 0px;
}
.abs-fill {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1580px) {
  .container {
    max-width: 1550px;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1870px;
  }
}

.button {
  height: 40px;
  line-height: 32px;
  border-radius: 22px;
  padding: 0 28px;
  text-align: center;
  position: relative;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  z-index: 1;
  letter-spacing: -0.01em;
  font-weight: 700;
  overflow: hidden;
}

.button:after {
  content: none;
  position: absolute;
  right: -132px;
  top: -20px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: var(--primary-button-background, #2128bd);
  transform-origin: right center;
  transition: color 0.4s, transform 0.4s, -webkit-transform 0.4s,
    -moz-transform 0.4s, -o-transform 0.4s;
  transform: scale(2.7);
  z-index: -1;
}

.button:hover {
  color: #222660;
}

.button:hover:after {
  transform: scale(1);
}

@media (min-width: 768px) {
  .button {
    box-shadow: inset 0 0 0 2px var(--primary-button-background, #2128bd);
    background: 0 0;
  }

  .button:after {
    content: "";
  }
}

.button span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  line-height: 1;
}

.button.large {
  height: 48px;
  line-height: 48px;
  padding: 0 25px;
}

.button.outlined {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--primary-button-background, #2128bd);
  color: #272727;
}

.button.large {
  height: 52px;
  line-height: 52px;
}

.dw-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
